.write-post 
  .write-post-wrapper 
    form(id= "new-message-form" class = "hide" action="") 
      label(for="post-title") Post
      input(type="text" name="post-title" id= "post-title")
      label(for="post-message") Message
      input(type="text" name="post-message" id= "post-message")
      button(type="submit") Submit