div.form-container(id= "secret-riddle" class = "hide")
  form.form(action="/secret-riddle" method = "POST")
    button.close(type="button" onclick = `hideAllPopUps()`)
      i.fa-solid.fa-x.fa-lg
    h1 Secret Riddle
    label(for="riddle") What is 10 + 9 equal to?
    if errorMessage 
      span.error #{errorMessage}
    input(type="number" name="riddle")
    button(type="submit") Submit