div.form-container
  form.form(id= "secret-riddle" class = "hide" action="/secret-riddle" method = "POST")
    h1 Secret Riddle
    label(for="riddle") What is 10 + 9 equal to?
    if errorMessage 
      span.error #{errorMessage}
    input(type="number" name="riddle")
    button(type="submit") Submit