mixin message(message)
  .message 
    .message-wrapper 
      h1.title= message.title 
      p.message= message.message
      div.author-date
        p.author= message.user.name 
        p.date= message.dateFormatted

block content        
  if messages
    each message in messages 
      +message(message)

  
