extends layout 

block content 
  form(action="") 
    label(for="full-name") Name: 
    input(type="text" name="full-name" id="full-name" required)
    label(for="email") Email: 
    input(type="email" name="email" id="email" required)
    label(for="password") Password: 
    input(type="text" name="password" id="password" required)
    label(for="password") Confirm Password: 
    input(type="text" name="password" id="password" required)
    button(type="Submit") Sign Up

