body, html {
  margin: 0;
  background: url('../images/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* default button styling */

.container {
  box-sizing: border-box;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.buttons-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.buttons-container button {
  border-radius: 5px;
  font-size: 24px;
  padding: 6px 12px;
  background-color: #e6e6fa
}

.buttons-container button:hover {
  background-color: #f0f0f9;
  cursor: pointer;
}

/* styling for form */
.form-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: url(../images/login-bg.jpg);
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 50px;
  border-radius: 20px;
  min-width: 70%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  position: relative;
}

.form-container:hover {
  cursor: pointer;
}

.form:hover {
  cursor: default;
}

.form > h1 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.form > label {
  font-size: 18px;
}

.form > input, .form > textarea {
  font-size: 22px;
}

.form > input:focus {
  outline: 1px solid lightblue;
}

.form > input, .form > textarea, .form > button[type="submit"] {
  padding: 3px 0px 3px 3px;
  border-radius: 1px;
  outline: none;
  border: none;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 3px;
}

.form > label:not(:first-child) {
  margin-top: 16px;
}

.form > button[type="submit"] {
  margin-top: 20px;
  font-size: 22px;
  padding: 6px 0px;
  background-color: #e6e6fa;
}

button[type="submit"]:hover {
  background-color: #f0f0f9;
  cursor: pointer;
}

.close {
  width: fit-content;
  margin-left: auto;
  background-color: white;
  border: 0;
}

.close:hover{ 
 cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.small-text {
  margin-top: 12px;
}

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secret {
  text-decoration: none;
  color: black;
}

.header-container {
  display: flex;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.create-account-message {
  color: white;
  text-align: center;
  background-color: black;
  padding: 10px 20px;
  margin: 30px auto;
  border-radius: 10px;
  font-size: 48px;
}

/* for message board */
.message-container {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.message-container:nth-child(n+2){
  margin-top: 20px;
}

.message-container:last-child {
  margin-bottom: 40px;
}

.message-wrapper {
  margin: 10px 20px;
}

.title {
  margin: 0;
}

.note {
  border-top: 1px solid black;
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.greeting {
  color: white;
  font-size: 36px;
}


@media screen and (min-width: 800px) {
  .form {
    min-width: 40%;
    aspect-ratio: auto;
  }

}

@media screen and (min-width: 1400px) {
  .form {
    min-width: 25%;
  }
}