body, html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.form-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for form */
.form-container {
  background-color: #e6e6fa;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 50px;
  border-radius: 20px;
  min-width: 70%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  position: relative;
}

.form-container:hover {
  cursor: pointer;
}

.form:hover {
  cursor: default;
}

.form > h1 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.form > label {
  font-size: 18px;
}

.form > input {
  font-size: 24px;
}

.form > input, .form > textarea, .form > button[type="submit"] {
  padding: 3px 0px 3px 3px;
  border-radius: 1px;
  outline: none;
  border: none;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 3px;
}

.form > label:not(:first-child) {
  margin-top: 16px;
}

.form > button[type="submit"] {
  margin-top: 20px;
  font-size: 24px;
  padding: 6px 0px;
  background-color: #e6e6fa;
}

button[type="submit"]:hover {
  background-color: #f0f0f9;
  cursor: pointer;
}

.close {
  width: fit-content;
  margin-left: auto;
  background-color: white;
  border: 0;
}

.close:hover{ 
 cursor: pointer;
}

.hide {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  .form {
    min-width: 40%;
    aspect-ratio: 1 / 0.8;
  }

}

@media screen and (min-width: 1400px) {
  .form {
    min-width: 25%;
  }
}