extends ../layout 

block content
  script.
    function redirectHome(){
      window.location.href= '/'
    }
  div.form-container(id="login")
    form.form(action="/login" method = "POST")
      button.close(type="button" onclick = `redirectHome()`)
        i.fa-solid.fa-x.fa-lg
      label(for="email") Email:
      input(type="email" name="email" id="email" autocomplete="off")
      if errors && errors.email
        span.error #{errors.email.msg}
      label(for="password") Password:
      input(type="password" name="password" id="password" autocomplete="off")
      if errors && errors.password
        span.error #{errors.password.msg}
      button(type="Submit") Log In
      span.small-text Don't have an account? 
        a(href="/signup") Sign Up 
