extends ../layout  

block content
  script.
    function redirectHome(){
      window.location.href= '/'
    }
  div.form-container(id= "secret-route")
    form.form(action="/secret-route" method = "POST")
      button.close(type="button" onclick = `redirectHome()`)
        i.fa-solid.fa-x.fa-lg
      h1 Become an Admin.
      label(for="riddle") What digit is the most frequent between the numbers 1 and 1,000 inclusive?
      input(type="number" name="riddle" id="riddle")
      if errorMessage 
        span.error #{errorMessage}
      button(type="submit") Submit