extends ../layout  

block content
  script.
    function redirectHome(){
      window.location.href= '/'
    }
  div.form-container(id= "secret-riddle")
    form.form(action="/secret-riddle" method = "POST")
      button.close(type="button" onclick = `redirectHome()`)
        i.fa-solid.fa-x.fa-lg
      label(for="riddle") What is 10 + 9 equal to?
      input(type="number" name="riddle" id="riddle")
      if errorMessage 
        span.error #{errorMessage}
      button(type="submit") Submit